<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/bobo.ico" type="image/x-icon" />
    <title>Ajax - sample</title>
</head>

<body>
    <input type="text" name="username" />
    <button id="btn">根据ID获取用户</button>
    <div>
        <div id="avatar"></div>
        <div id="blog">我是
            <span id="username"></span>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        $(function() {
            $('#btn').on('click', function(e) {
                var username = $('input[name=username]').val();
                $.get(location.origin + '/query?id=' + username, function(result) {
                    console.log('ajax completed', result);
                    $('#username').text(result.data.name);
                })
            });
        });
    </script>
</body>

</html>